.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
}

.currency {
    font-size: 30px;
}

.amount {
    font-size: 15px;
}