.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    color: #ffffff;
}

.currency {
    font-size: 30px;
}

.amount {
    font-size: 15px;
}

.error {
    color: #E73C7E;
    text-align: right;
}