.button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
}

.disabled {
    opacity: .5;
    cursor: default;
}